.error-section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.error-image {
  margin-top: 8%;
  border-radius: 10%;
}

.status-code {
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
}

.error-message {
  margin-top: -15px;
  font-size: 20px;
}

.return-btn {
  margin-top: 15px;
  cursor: pointer;
}
